

<!DOCTYPE html>
<html>
<head>
    <title>Delete Customers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        .thead-custom th {
            background-color: #004d80; 
            color: white;
        }

        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #e6f2ff; 
        }
        .table-striped tbody tr:nth-of-type(even) {
            background-color: #ffffff; 
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-3">Available Customers</h1>
        <div class="table-responsive">
            <% if(customers.length > 0) { %>
                <table class="table table-striped">
                    <thead class="thead-custom">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% customers.forEach(car => { %>
                            <tr>
                                <td><%= customers.firstName %></td>
                                <td><%= customers.lastName %></td>
                                <td><%= customers.phoneNumber %></td>
                                <td><%= customers.address %></td>
                                <td>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#editCarModal" onclick="deleteCustomer('<%= customer.Id %>')">Edit</button>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <p>No customers available at the moment.</p>
            <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function deleteCustomer(customerId) {
            if(confirm('Are you sure you want to delete this customer?')) {
                fetch('/cars/delete' + customerId, { method: 'DELETE' })
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                    location.reload(); 
                })
                .catch(error => console.error('Error:', error));
            }
        }
    

    
        </script>
</body>
</html>

